html {
	font-family: "Open Sans";
	height: 100%;
}

body {
	background-color: #ededed;
}

h1 {
    font-weight: 300;
    font-size: 2em;
}

h3 {
    font-weight: 300;
    color: #686868;
}

h4 {
    font-weight: 300;
    color: #686868;
}

.grey-color {
    color: #686868;
}

.red-background {
	background-color: #A8162B;
}

/* HEADER */
header {
	background-color: white;
}

.logo {
	width: 350px;
	margin-bottom: 20px;
    margin-top: 0px;
}

/* BUTTON */
button {
	cursor: pointer;
}

@media (min-width: 1400px) {
	.container{
		max-width: 1200px;
	}
}

/* WRAPPER */
.wrapper {
	/* white background thing */
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-height: 1000px;
}

.wrapper-sm {
    /* fit to height of content */
    min-height: 0px !important;
}

/* TITLE */
.form-heading {
	padding-bottom: 20px;
	border-bottom: 1px solid #EFEFEF;
	margin-top: 70px;
	font-weight: 300;
}

.auth-heading {
	font-weight: 300;
}

.username {
    display: inline;
    color: #007bff;
}

/* ICONS */
.calendar-icon {
	font-size: 1.5em;
	color: #007bff;
}

.trash-icon {
    font-size: 1.5em;
    color: #007bff;
}

/* SPACING - add to div*/
.bottom-space {
	height: 100px;
}

input[type=text]:disabled {
    background: #ffffff;
}


/* TABLE */
th {
    font-size: 0.8em;
    color: #686868;
}

.date-table th {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	color: #000000;
	font-weight: 300;
}{

}

/* SEARCH BAR */
.search-group {
	position: relative;
}

.search-group .fa-search {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 5;
}

/* TABLE COLOURING */
.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
	background-color: transparent;
	border-bottom: 3px solid #007bff;
	color: #007bff;
}

.nav-pills .nav-link {
	border-radius: 0;
}

.white-text {
	color: white;
}

/* BACK ARROW */
.back-arrow {
	width:36px;
	height:36px;
	position: absolute;
	left: -50px;
}

.back-arrow:hover path {
    fill: #00aeff !important;
}

@media(min-width: 1400px) {
    .back-arrow {
        position: static;
    }
}
@media (max-width: 1000px) {
	.back-arrow {
		position: static;
	}
}

/* TABLE */
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #F4F8FB;
}

th {
    white-space: nowrap;
}
td {
    white-space: nowrap;
}

.clickable {
    cursor: pointer;
}

.td-delete-button {
    border: none;
    background-color: transparent;
    visibility: hidden;
}

.tr-delete:hover .td-delete-button {
    visibility: visible;
}

/* REQUESTS */
/* font awesome */
.fa-sort {
	color: #c6c6c6;
}

.dropdown {
    cursor: pointer;
}

/* LOADING ICON - edit if interferes with other svg */
svg path, svg rect {
    fill: #007bff;
}

/* V-CLOAK - hides element until vue loads eg. {{hidesThis}} */
[v-cloak] {
    display: none;
}

/* Adds space in between the submit and Authorization button when stacked in a smaller screen. */
@media screen and (max-width: 736px) {
	.add-space-top{
		padding-top: 1em;
		font-size: smaller;
	}
}

.add-space-top{
	padding-top: 1em;
	padding-right: 0;
	width: 100%;
}
.float-right{
	float:right;
}

/* loading icon */
 .loading-icon {
     background-color: transparent;
     font-size: 0;
     width: 30px;
     height: 30px;
     border: 3px solid #FFFFFF;
     border-bottom: 3px solid rgba(255,255,255,0.0);
     border-left: 3px solid rgba(255,255,255,0.0);
     border-radius: 50%;
     padding: 0;
     animation: rotateAnimation 1s infinite linear;
     display: inline-block;
     margin-bottom: -5px;
 }

 @keyframes rotateAnimation {
     0% {transform: rotate(0deg);}
     100% {transform: rotate(360deg);}
 }

 /* REQUEST FORM TOGGLE BUTTON */
.active_toggle {
    background-color: #007bff !important;
    color: white !important;
}

.toggle-button {
    background-color: transparent;
    color: #686868;
    border: 1px solid #CED4DA;
}

/* SECURITYVIEW LIST GROUP */
.list-group {
    color: #686868;
}

.dark-text {
    color: #2e2e2e;
}

.grey-text {
    color: #686868;
}

.blue-text {
    color: #007bff;
}

.green-text {
    color: #50AE54;
}

.red-text {
    color: #A8162B;
}

.badge-med {
    font-size: 1.0em
}

.sf {
    font-size: 0.5em;
}

.line-break {
    border-top: 1px solid #CED4DA;
}

.money-style {
    font-size: 1.8em;
    color: #007bff;
}
