<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <img class="logo" src="/img/sfu-logo@2x.png" alt="sfu-logo"/>
</header>
<div class="container col-md-10 offset-md-1 wrapper mb-5 col-lg-10" id="app">
    <div class="container col-md-10 wrapper mt-5">
        <div class="row">
            <i class="fa fa-exclamation-circle fa-5x mx-auto mt-5 mb-4"></i>
        </div>
        <div class="row">
            <h1 class="mb-2 mt-2 mx-auto">404. Page Not Found</h1>
        </div>
        <div class="row">
            <span class="text-muted mx-auto">We could not find what you've requested</span>
        </div>
        <div class="bottom-space"></div>
    </div>
    <div class="bottom-space"></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
            }
        });
    </script>
</div>
</body>
</html>