<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Security Service Request</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="red-background">
	<header>
		<img class="logo" src="/img/sfu-logo@2x.png" alt="sfu-logo"/>
	</header>
	<form method="post">
		<div class="container col-md-10 offset-md-1 wrapper mb-5 col-lg-10" id="app">
			<div class="container col-md-10 mt-5">
				<div class="row">
					<h1 class="text-center form-heading">Security Service Request</h1>
				</div>
				<div class="row">
					<div class="form-group col-md-4">
						<label for="requested-by-input">Requested By</label>
						<input type="text" id="requested-by-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="department-input">Department</label>
						<input type="text" id="department-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="sfu-id-input">SFU ID</label>
						<input type="text"id="sfu-id-input" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4">
						<label for="phone-input">Phone</label>
						<input type="text" placeholder="xxx-xxx-xxxx" id="phone-input" class="form-control masked" pattern="[0-9]{3}[ |-][0-9]{3}[ |-][0-9]{4}" data-valid-example="000-000-0000" />
					</div>
					<div class="form-group col-md-4">
						<label for="email-input">Email</label>
						<input type="email" id="email-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="fax-input">Fax (optional)</label>
						<input type="text" id="fax-input" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-4">
						<label for="type-name-of-event-input">Type/Name of Event</label>
						<input type="text" id="type-name-of-event-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="location-input">Location</label>
						<!--<input type="text" th:field="*{eventLocation}" id="location-input" class="form-control"/>-->
						<select class="form-control" id="location-input">
							<option value="">Choose...</option>
							<option value="bur">Burnaby</option>
							<option value="sur">Surrey</option>
							<option value="van">Vancouver</option>
							<option value="oth">Other</option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="number-of-attendees-input"># of Attendees</label>
						<input type="number" min="1" value="1" id="number-of-attendees-input" class="form-control"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<label for="details-input" placeholder="">Details</label>
						<textarea rows="5" id="details-input" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<input type="checkbox" id="licensed-input" class="mr-1 mt-4"/>
						<label for="licensed-input">Licensed</label>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="form-group col-md-12">

						</div>
					</div>
				</div>
				<div class="row mt-4">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Date and Time</th>
						</tr>
						<tr>
							<th class="input-group">
								<i id="chooseDateTime" class="fa fa-calendar calendar-icon mr-3 " onChange="setDateTime(this)"></i>
								<input type="text" id="datetime" class="form-control"/>
								<button id="addDateTime" type="button" class="btn btn-danger ml-1">Add Date</button>
							</th>
						</tr>
						</thead>
						<tbody id="datetimelist">
						<tr hidden>
							<td class="input-group">
								<input type="text" id="date" class="form-control" disabled="disabled"/>
								<button type="button" class="btn ml-1 " onclick="deleteDateTime(this)">Delete</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div>
					<h3 class="auth-heading mt-4">Authorization</h3>
				</div>
				<div class="row mt-5">
					<div class="form-group col-md-4">
						<label for="account-code-input">Account code</label>
						<input type="text" id="account-code-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="name-of-authorizee-input">Authorized by</label>
						<input type="text" id="name-of-authorizee-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="sfu-id-or-bcdl-of-authorizee-input">Authorizee SFU ID </label>
						<input type="text" id="sfu-id-or-bcdl-of-authorizee-input" class="form-control"/>
					</div>
					<div class="form-group col-md-4">
						<label for="date-of-authorization-input">Date</label>
						<input type="text" id="date-of-authorization-input" class="form-control"/>

					</div>
					<div class="form-group col-md-4">
						<label for="phone-of-authorizee-input">Phone</label>
						<input type="text" placeholder="xxx-xxx-xxxx" id="phone-of-authorizee-input" class="form-control masked" pattern="[0-9]{3}[ |-][0-9]{3}[ |-][0-9]{4}" data-valid-example="000-000-0000"/>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-12">
						<input type="checkbox" id="invoice-input" class="mr-1"/>
						<label for="invoice-input">Please Invoice</label>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<button class="btn btn-danger btn-lg col-md-8">Submit</button>
					</div>
				</div>
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <nav aria-label="Page navagation">
                            <ul class="pagination mt-5 justify-content-center">
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
				<div class="bottom-space"></div>
			</div>
		</div>
	</form>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/vue.js"></script>
	<script src="/js/jquery.datetimepicker.full.js"></script>
	<script src="/js/jquery.datetimepicker.js"></script>
	<script>
		var app = new Vue({
 			el: '#app',
 			data: {
  				message: 'Hello Vue hxsixs useless data!'
		  	}
		});
	</script>
	<script>
		$(document).ready(function(){
			$("#chooseDateTime").datetimepicker({
				dayOfWeekStart:1,
				lang: 'en',
				formatTime: 'g:i a',
			});
			$("#addDateTime").click(function(){
				var datetime = document.getElementById("datetime").value;
				if(datetime!=""){
					$("#datetimelist").append(
						"<tr>"+
							"<td class='input-group'>"+
								"<input type='text' id='date' class='form-control' disabled='disabled' value='"+
								datetime+
								"'/>"+
								"<button type='button' class='btn ml-1' onclick='deleteDateTime(this)'>"+
									"Delete"+
								"</button>"+
							"</td>"+
						"</tr>"

					);
					<!--document.getElementById("date").value = datetime;-->
					document.getElementById("datetime").value = "";
				}
			});
		});
		function setDateTime(e){
			document.getElementById("datetime").value = e.value;
		}
		function deleteDateTime(e){
			e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
		}
	</script>
</body>
</html>