<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Request Details</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<img class="logo" src="/img/sfu-logo@2x.png" alt="sfu-logo"/>
	</header>
	<div class="container col-md-10 offset-md-1 wrapper mb-5 col-lg-10" id="app">
		<div class="container">
			<div class="row mt-5">
				<h3 class="mt-5 mx-5" id="title" th:text="'Service #' + ${reqID}"></h3>
			</div>
			<div class="row mt-3">
				<div class="col">
					<!-- <p class="mx-5" th:text="'Status: ' + ${form.status}"></p> -->
					<p class="mx-5">Status: *not implemented*</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5" id="requestedBy" th:text="'Requested By: ' + ${form.requesterName}"></p>
				</div>
				<div class="col">
					<p class="mx-5" id="SFUID" th:text="'SFU ID: ' + ${form.requesterID}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5" id="phone" th:text="'Phone: ' + ${form.phoneNumber}"></p>
				</div>
				<div class="col">
					<p class="mx-5" id="fax" th:text="'Fax: ' + ${form.faxNumber}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5" id="email" th:text="'Email: ' + ${form.emailAddress}"></p>
				</div>
				<div class="col">
					<p class="mx-5" id="location"
					   th:text="${form.eventLocation} ? 'Location: ' + ${form.eventLocation} : 'Location: not set!'"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5" id="eventName" th:text="'Type/Name of Event: ' + ${form.eventName}"></p>
				</div>
				<div class="col">
					<p class="mx-5" id="attendees" th:text="'# of Attendees: ' + ${form.numAttendees}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5" id="details" th:text="'Details: ' + ${form.eventDetails}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h5 class="mt-2 text-center" id="licensed">Licensed: *not implemented*</h5>
						<!-- th:text="${form.isAuthorized} ? 'Licensed: ' + ${form.isAuthorized} :
						 'Licensed: Not set!'"></h5> -->

				</div>
			</div>

			<div class="row my-4">
				<table class="table">
					<thead>
					<tr>
						<th class="text-center">Date</th>
						<th class="text-center">Time</th>
						<th class="text-center">Hours</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="d in dates">
						<td class="text-center">{{d.date}}</td>
						<td class="text-center">{{d.time}}</td>
						<td class="text-center">{{d.hours}}</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col">
					<p class="mx-5"
					   th:text="${form.authorizerName} ? 'Authorized by: ' + ${form.authorizerName} : 'Authorized by: not set!'"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5" th:text="'Account Code: ' + ${form.paymentAccountCode}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5">Authorizer ID: *not implemented*</p>
					<!-- <p class="mx-5" th:text="'Authorizer ID: ' + ${form.authorizerID}"></p> -->
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="mx-5"
					   th:text="${form.authorizerPhoneNumber} ? 'Phone: ' + ${form.authorizerPhoneNumber} : 'Phone: not set!'"></p>
				</div>
				<div class="col">
					<p class="mx-5" th:text="'Invoice: ' + ${form.invoiceRequested}"></p>
				</div>
			</div>

			<!-- TODO: Security inputs -->
			<div class="row mb-3">
				<div class="col col-md-3"></div>
				<div class="col col-md-6 align-content-center">
					<button class="btn">Reject</button>
					<button class="btn">Accept</button>
					<button class="btn">Update</button>
				</div>
				<div class="col col-md-3"></div>
			</div>

		</div>

		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/vue.js"></script>
		<script>
			var app = new Vue({
				el: '#app',

				data: {
					/*
					requestID: 111,
					requestedBy: "Steve Smith",
					SFUID: "123456789",
					status: "Waiting",
					phone: "604-430-4444",
					fax: "(04) 3056 6523",
					email: "smithysmithers@sfu.ca",
					location: "Surrey",
					eventName: "Beer Pong",
					numAttendees: 400,
					details: "Biggest thing ever",
					licensed: "No",
					dates: [
						{
							date: "Aug 22, 2017",
							time: "7:00pm - 2:00am",
							hours: 7,
						},
						{
							date: "Aug 26, 2017",
							time: "8:00pm - 1:30am",
							hours: 5.5
						}
					],
					author: "SFSS@sfu.ca",
					accountCode: "546-546546-5453131",
					authorID: 1234567,
					authorPhone: "911",
					authorInvoice: "yes"
					*/
				},

				methods: {

				},

				created() {
					// TODO: load real data
					// $.get("http://localhost:8080/api/form/get/"+this.$data.requestID, function(data){});
				}
			});
		</script>

	</div>
</body>
</html>