<!DOCTYPE html>

<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div id="app">
        <title>Request #{{requestID}}</title>
        <header>
            <a href="/security/requests"><img class="logo" src="/img/sfu-logo@2x.png" alt="sfu-logo"/></a>
            <div style="display: inline-block; float: right; margin-right: 10%; margin-top: 20px;">
                <div class="dropdown" style="">
                    <div class="dropdown-toggle" id="" data-toggle="dropdown">
                        <span>Logged in as </span><div class="username" v-cloak>{{userName}}</div>
                    </div>
                    <ul class="dropdown-menu">
                        <a href="/logout">
                            <li class="dropdown-item">Logout from CAS</li>
                        </a>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container col-md-10 offset-md-1 wrapper mb-5 col-lg-10">
            <div class="row mt-5"></div>
            <div class="container col-md-10" v-cloak>
                <div class="row mt-4">
                    <h3 class="mt-5">Request #{{requestID}}</h3>
                </div>
                <div class="row">
                    <div class="" v-if="form.requestStatus !== null">
                        <span class="badge white-text badge-med" v-bind:class="getBadgeClassName(form.requestStatus)">{{form.requestStatus}}</span>
                    </div>
                </div>
                <div class="row pull-right">
                    <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"><i class="fa fa-cog"></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" v-on:click="exportRequestCSV()">Export Request to CSV</li>
                            <li class="dropdown-item" v-on:click="exportRequestGuardsCSV()">Export Guard list to CSV</li>
                            <li class="dropdown-item" v-on:click="exportInvoicePDF()">Generate Invoice</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">Requested By: <span
                                    class="dark-text">{{form.requesterName}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Phone: <span
                                    class="dark-text">{{form.phoneNumber}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Email: <span
                                    class="dark-text">{{form.emailAddress}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Type/Name of Event:
                                <span class="dark-text">{{form.eventName}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Location: <span
                                    class="dark-text">{{form.eventLocation}}</span></li>

                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">SFU ID: <span
                                    class="dark-text">{{form.requesterID}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Fax:
                                <span class="dark-text" v-if="!form.faxNumber">n/a</span>
                                <span class="dark-text" v-else>{{form.faxNumber}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"># of Attendees: <span
                                    class="dark-text">{{form.numAttendees}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Licensed:
                                <span class="dark-text" v-if="form.isLicensed">Yes</span>
                                <span class="dark-text" v-else>No</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"># of Guards Requested: <span
                                    class="dark-text">{{form.numGuards}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Type of Guard Requested: <span
                                    class="dark-text">{{form.guardType}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4">
                    <span class="ml-3 mb-1 grey-text">Details:</span>
                    <ul class="list-group col-md-12 mt-1" style="margin-left: 15px">
                        <li class="list-group-item">
                            <span class="dark-text">{{form.eventDetails}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row my-4">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">Start Time</th>
                            <th class="text-center">End Time</th>
                            <th class="text-center">Hours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="d in dates">
                            <td class="text-center">{{d.start}}</td>
                            <td class="text-center">{{d.end}}</td>
                            <td class="text-center">{{d.hours}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">Authorized By:
                                <span class="dark-text" v-if="!form.authorizerName">n/a</span>
                                <span class="dark-text" v-else>{{form.authorizerName}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Account Code:
                                <span class="dark-text" v-if="!form.paymentAccountCode">n/a</span>
                                <span class="dark-text" v-else>{{form.paymentAccountCode}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Authorizer ID:
                                <span class="dark-text" v-if="!form.authorizerID">n/a</span>
                                <span class="dark-text" v-else>{{form.authorizerID}}</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">Authorizer Phone:
                                <span class="dark-text" v-if="!form.authorizerPhoneNumber">n/a</span>
                                <span class="dark-text" v-else>{{form.authorizerPhoneNumber}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">Invoice:
                                <span class="dark-text" v-if="form.invoiceRequested">Yes</span>
                                <span class="dark-text" v-else>No</span>
                            </li>
                        </ul>
                    </div>
                </div>

        <div class="row">
            <div class="col-md-12 line-break mt-4"></div>
        </div>
        <div class="row mt-5 form-heading mb-3"><h3>Security Fill Out</h3></div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <label for="recvSup">Receiving Security Supervisor: </label>
                <input class="form-control text-center" id="recvSup" type="text" placeholder="Supervisor" v-model="form.recievingSecuritySupervisor"
                       required="required">
            </div>
            <div class="col-lg-6">
                <label for="prepBy">Prepared By: </label>
                <input class="form-control text-center" id="prepBy" type="text" placeholder="Prepared By" v-model="form.preparedBy" required="required">
            </div>
        </div>
        <div class="row">
            <h3 class="mt-5">Guards</h3>
        </div>
        <div v-for="g in form.guards">
            <div class="row mt-3">
                <div class="col">
                    <label for="gID">Dispatch #</label>
                    <input class="form-control text-center" id="gID" type="text" placeholder="Dispatch #" v-model="g.guardID">
                </div>
                <div class="col">
                    <label for="gLoc">Location</label>
                    <input class="form-control text-center" id="gLoc" type="text" placeholder="Location" v-model="g.location">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="gDateStart">Start Date</label>
                    <input class="form-control text-center" id="gDateStart" type="date" placeholder="Start Date" v-model="g.startDate">
                </div>
                <div class="col">
                    <label for="gDateEnd">End Date</label>
                    <input class="form-control text-center" id="gDateEnd" type="date" placeholder="End Date" v-model="g.endDate">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="gTimeStart">Start Time</label>
                    <input class="form-control text-center" id="gTimeStart" type="time" placeholder="Start Time" v-model="g.startTime">
                </div>
                <div class="col">
                    <label for="gTimeEnd">End Time</label>
                    <input class="form-control text-center" id="gTimeEnd" type="time" placeholder="End Time" v-model="g.endTime">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="gName">Name</label>
                    <input class="form-control text-center" id="gName" type="text" placeholder="Name" v-model="g.name">
                </div>
                <div class="col">
                    <label for="gTel">Telephone</label>
                    <input class="form-control text-center" id="gTel" type="text" placeholder="Telephone #" v-model="g.telephone">
                </div>
                <div class="col">
                    <label for="gType">Type</label>
                    <select class="form-control text-center" id="gType" v-model="g.type">
                        <option>Guard</option>
                        <option>SCSP</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-3">
                    <label for="regRate">Regular Rate ($)</label>
                    <input class="form-control text-center" id="regRate" type="number" step="0.01" min="0"
                           v-model="g.regularRate" required="required">
                </div>
                <div class="col-md-3">
                    <label for="regHours">Regular Hours</label>
                    <input class="form-control text-center" id="regHours" type="number" step="0.01" min="0"
                           v-model="g.regularHours" required="required">
                </div>
                <div class="col-md-3">
                    <label for="overRate">Overtime Rate ($)</label>
                    <input class="form-control text-center" id="overRate" type="number" step="0.01" min="0"
                           v-model="g.overtimeRate" required="required">
                </div>
                <div class="col-md-3">
                    <label for="overHours">Overtime Hours</label>
                    <input class="form-control text-center" id="overHours" type="number" step="0.01" min="0"
                           v-model="g.overtimeHours" required="required">
                </div>
            </div>
            <div class="row my-2 text-center">
                <div class="col col-md-2"></div>
                <div class="col col-md-12">
                    <button type="button" class="btn mb-2" v-on:click="cloneGuard(g)">Duplicate Guard/SCSP</button>
                    <button type="button" class="btn btn-danger mx-2 mb-2" v-on:click="deleteGuard(g)">Remove Guard/SCSP</button>
                </div>
                <div class="col col-md-2"></div>
            </div>
            <hr/>
        </div>
        <div class="row mb-5 mt-3 text-center">
            <div class="col col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon"># of Guards/SCSPs</span>
                    <input id="numGuards" class="form-control" type="number" step="1" min="1" v-model="guardsToAdd"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" v-on:click="addGuard">Add</button>
                    </span>
                </div>
            </div>
            <div class="col col-lg-6">
                <button type="button" class="btn btn-danger" v-on:click="deleteAllGuards">Remove All Guards/SCSPs</button>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <p class="d-block">Estimated Personnel Cost:</p>
                <span class="money-style d-block">${{cost}}</span>
            </div>
            <div class="col-md-4">
                <p class="d-block">Total Hours:</p>
                <span class="money-style d-block">{{totalHours}} Hours</span>
            </div>
            <div class="col-md-4">
                <p class="d-block">Hours per Guard/SCSP:</p>
                <span class="money-style d-block">{{avgHours}} Hours</span>
            </div>
        </div>
        <div class="form-group my-5">
            <label for="remarksField">Security Remarks</label>
            <textarea class="form-control" rows="4" placeholder="Remarks" v-model="form.securityRemarks" id="remarksField"></textarea>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-success col-sm-12 col-md-2 mt-3" data-toggle="modal"
                            data-target="#emailModal" :disabled=!canAccept>Accept
                    </button>
                    <button class="btn btn-primary col-sm-12 col-md-2 mt-3" v-on:click="submit('update')" :disabled=!canAccept>
                        Update
                    </button>
                    <button class="btn btn-danger col-sm-12 col-md-2 mt-3" v-on:click="submit('reject')" v-bind:class="{disabled: rejectLoading}">
						<div class="loading-icon mr-3" v-if="rejectLoading" style="width: 20px; height: 20px"></div>
						Reject
					</button>
                </div>
                <div id="emailModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="container mb-4">
                                <div class="col-md-10 mt-5 ml-4">
                                    <div class="row">
                                        <h3>Distribution</h3>
                                    </div>
                                    <div class="row mb-4">
                                        <p class="modal-title grey-text">Those selected will be notified of this approval.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 mx-auto">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" v-model="selectAll"></th>
                                                    <th>Email</th>
                                                    <th><!--delete button col--></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="email in defaultEmails">
                                                    <td><input type="checkbox" checked disabled></td>
                                                    <td><p class="grey-color">{{email.email}} ({{email.type}})</p></td>

                                                </tr>
                                                <tr v-for="email in distEmails" class="tr-delete">
                                                    <td><input type="checkbox" v-model="selectedEmails" :value="email.id" number></td>
                                                    <td>{{email.email}}</td>
                                                    <td><button class="td-delete-button" v-on:click="deleteDistEmail(email.id)">x</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <p v-if="distEmails.length == 0" class="mx-auto text-center mt-2 grey-text">No Emails Found</p>
                                        </div>
                                        <div class="col-md-10 mx-auto input-group">
                                            <input type="text" class="form-control" placeholder="Enter full email address" v-model="distEmail_input">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" v-on:click="addDistEmail()">Add</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success mx-2" data-dismiss="model"
                                        v-on:click="submit('accept')" v-if="canAccept">Accept
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3"></div>
            <div class="bottom-space"></div>
        </div>
    </div>
</div>
    </div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/datetime.js"></script>
<script>
    var app = new Vue({
        el: '#app',

        data: {
            requestID: null,
            test: true,
            form: {
                requestStatus: 'not set',
                requesterName: 'not set',
                requesterID: 'not set',
                phoneNumber: 'not set',
                faxNumber: 'not set',
                emailAddress: 'not set',
                eventLocation: 'not set',
                eventName: 'not set',
                eventDetails: 'not set',
                isLicensed: 'not set',
                authorizerName: 'not set',
                paymentAccountCode: 'not set',
                authorizerID: 'not set',
                authorizerPhoneNumber: 'not set',
                invoiceRequested: 'not set',
                eventDates: 'not set',
            },
            dates: [],

            selectedEmails: [],
            additionalMessage: '',
            // contain requester and authorizee email, inserted by setDefaultEmails
            defaultEmails: [],
            distEmails: [],
            distEmail_input: "",
            rejectLoading: false,
            userName: '',
            guardsToAdd: 1,
        },

        methods: {
            exportRequestCSV: function () {
                window.location.assign("/api/csv/form/" + this.requestID + ".csv");
            },
            exportRequestGuardsCSV: function () {
                window.location.assign("/api/csv/guards/" + this.requestID + "-guards.csv");
            },
            exportInvoicePDF: function () {
                window.location.assign("/api/invoice/" + this.requestID + "-invoice.pdf");
            },

            addGuard: function () {
            	for (let i = 0; i < this.guardsToAdd; ++i) {
					this.form.guards.push({
						guardID: '',
						location: '',
						startDate: '',
						endDate: '',
						startTime: '',
						endTime: '',
						name: '',
						telephone: '',
						type: 'Guard',
						regularHours: null,
						overtimeHours: null,
						regularRate: null,
						overtimeRate: null
					})
				}

				this.guardsToAdd = 1;
            },

            cloneGuard: function (guard) {
                this.form.guards.push(guard);
			},

            deleteGuard: function (guard) {
                let index = this.form.guards.indexOf(guard);
                this.form.guards.splice(index, 1);
            },

            deleteAllGuards: function () {
                this.form.guards = [];
			},

            removeNull: function () {
                for (let p in this.form) {
                    if (this.form[p] === null || this.form[p] === undefined || this.form[p] === '') {
                        this.form[p] = 'not set';
                    }
                }

                if (this.form.guards === 'not set') {
                    this.form.guards = null;
                }

                if (this.form.isAuthorized === 'not set') {
                    this.form.isAuthorized = false;
                }

                if (this.form.invoiceRequested === 'not set') {
                    this.form.invoiceRequested = false;
                }

                if (this.form.isLicensed === 'not set') {
                    this.form.isLicensed = false;
                }

                if (this.form.distributionList === 'not set') {
					this.form.distributionList = null;
				}
            },

            getURLParam: function (param) {
                let url = window.location.search.substring(1);
                let urlVars = url.split('&');
                let paramName;
                for (let i = 0; i < urlVars.length; ++i) {
                    paramName = urlVars[i].split('=');
                    if (paramName[0] === param) {
                        return paramName[1];
                    }
                }
                return null;
            },

            getFormData: function () {
				// get last segment of url (the id hopefully)
				let urlSegments = window.location.href.split('/');
				this.requestID = urlSegments.pop() || urlSegments.pop();

				this.$http.get('/api/form/getByRequestID/' + this.requestID).then(function (response) {
					if (response.data === null || response.data === undefined || response.data === "") {
						// TODO: redirect to error page (404?)
						window.location.replace("/security/requests");
					}

                    this.form = JSON.parse(JSON.stringify(response.data));
                    this.dates = updateDateTime(this.form.eventDates);
                    //requester/authorizee emails into a list
                    this.setDefaultEmails();

                }, function (error) {
                    console.log(error.statusText);
                });
            },
            setSecFields: function () {
                this.form.distributionList = this.selectedEmails;

                let i, len;
                len = this.form.guards.length || 0;
                for (i = 0; i < len; ++i) {
                    if (this.form.guards[i].name === "" || this.form.guards[i].name === null) {
                        this.form.guards[i].name = "not set";
                    }
                }
            },
            submit: function (action) {
                this.setSecFields();

                if (action === 'accept') {
					if (!this.canAccept) {
						return;
					}
					this.form.requestStatus = "APPROVED";
                } else if (action === 'reject') {
                    this.form.requestStatus = 'REJECTED';
                } else {
                    if (!this.canAccept) {
                        return;
                    }
                }

                this.rejectLoading = true;
                this.$http.post('/api/form/saveSecurity', this.form,
                    {params: {additionalMessage: this.additionalMessage}}).then(function (response) {
                    console.log('Successfully sent form');
                    this.rejectLoading = false;

                    if (action === 'accept' || action === 'reject')
                        window.location.replace('/security/requests');
                    else
                    	alert('Request has been updated');
                }, function (error) {
                    alert('Failed to send form!');
                });
            },
            getBadgeClassName: function (status) {
                switch (status) {
                    case 'WAITING':
                        return 'badge-warning';
                        break;
                    case 'AUTHORIZED':
                    	return 'badge-primary';
                    	break;
                    case 'APPROVED':
                        return 'badge-success';
                        break;
                    case 'REJECTED':
                        return 'badge-danger';
                        break;
                    default:
                        return 'badge-default';
                        break;
                }
            },
            getDistEmails: function () {
                this.$http.get('/api/dist/all').then(function(response) {
                    if (response.status == 200) {
                        this.distEmails = response.data;
                    }
                })
            },
            addDistEmail: function () {
                if (!this.distEmail_input) {
                    return;
                }
                this.$http.post('/api/dist/add', {email: this.distEmail_input}).then(function() {
                    this.distEmail_input = "";
                    this.getDistEmails();
                });
            },
            deleteDistEmail: function (id) {
                this.$http.delete('/api/dist/delete/' + id).then(function(response){
                   this.getDistEmails();
                });
            },
            setUserName: function() {
                this.$http.get("/api/user/get").then(function(response) {
                    if (response.status == 200) {
                        this.userName = response.data.username;
                    }
                });
            },
            setDefaultEmails: function() {
                this.defaultEmails.push({email: this.form.emailAddress, type: 'Requester'});
                if (this.form.authorizerEmailAddress) {
                    this.defaultEmails.push({email: this.form.authorizerEmailAddress, type: 'Authorizer'});
                }
            }
        },

        created() {
            this.getFormData();
            this.getDistEmails();
            this.setUserName();
        },

        computed: {
            canAccept: function () {
            	if (!this.form.recievingSecuritySupervisor || this.form.recievingSecuritySupervisor === ''
                    || !this.form.preparedBy || this.form.preparedBy === '')
            		return false;

                let goodGuards = true;
				if (!this.form.guards || this.form.guards.length == 0) {
					return goodGuards;
				} else {
					this.form.guards.forEach(function (g) {
						//console.log(g.guardID+"+"+g.location);
						if (g.guardID === '' || g.guardID === undefined || g.location === '' || g.location === undefined
							|| g.startDate === '' || g.startDate === undefined || g.endDate === ''
							|| g.endDate === undefined || g.startTime === '' || g.startTime === undefined
							|| g.endTime === '' || g.endTime === undefined || g.name === '' || g.name === undefined
							|| g.telephone === '' || g.telephone === undefined) {

							goodGuards = false;
							return goodGuards;
						}
					});
				}

				return goodGuards;
			},

            cost: function () {
				let cost = 0;

				if (!this.form.guards)
					return cost;

				for (const g of this.form.guards) {
					cost += (Number(g.regularHours) * Number(g.regularRate)) + (Number(g.overtimeHours) * Number(g.overtimeRate));
				}

				return cost.toFixed(2);
            },

            totalHours: function () {
            	let hours = 0;

                if (!this.form.guards)
                	return hours;

				this.form.guards.forEach(function (g) {
					hours += Number(g.regularHours) + Number(g.overtimeHours);
				});

                return hours;
            },

            avgHours: function () {
            	if (!this.form.guards || this.form.guards.length === 0)
            		return 0;

				return Number(this.totalHours) / this.form.guards.length;
            },

            selectAll: {
                //Credit to Rifki @ https://stackoverflow.com/questions/33571382/check-all-checkboxes-vuejs
                get: function() {
                    return this.distEmails ? this.selectedEmails.length == this.distEmails.length : false;
                },
                set: function (value) {
                    var selected = []
                    if (value) {
                        this.distEmails.forEach(function(email) {
                            selected.push(email.id);
                        });
                    }
                    this.selectedEmails = selected;
                }
            }
        }
    });
</script>

</div>
</body>
</html>