<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <div id="app">
        <header>
            <a href="/security/requests">
                <img class="logo" src="/img/sfu-logo@2x.png" alt="sfu-logo"/>
            </a>
            <div style="display: inline-block; float: right; margin-right: 10%; margin-top: 20px;">
                <div class="dropdown" style="">
                    <div class="dropdown-toggle" id="" data-toggle="dropdown">
                        <span>Logged in as </span><div class="username" v-cloak>{{userName}}</div>
                    </div>
                    <ul class="dropdown-menu">
                        <a href="https://cas.sfu.ca/cas/logout">
                            <li class="dropdown-item">Logout from CAS</li>
                        </a>
                    </ul>
                </div>
            </div>
            <a class="d-inline blue-text" style="float: right; margin-right: 20px; margin-top: 20px;"
                href="/security/admin" v-if="isAdmin">ADMIN</a>
        </header>
        <div class="container col-md-10 offset-md-1 wrapper mb-5 col-lg-10">
            <div class="container col-md-10">
                <div class="row mt-5">
                    <h1 class="mt-5">Requests</h1>
                </div>
                <div class="row pull-right">
                    <div class="dropdown">
                        <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"><i class="fa fa-cog"></i></div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" v-on:click="exportAllCSV()">Export All to CSV</li>
                            <li class="dropdown-item" v-on:click="exportSelectedCSV()">Export Selected to CSV</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="input-group search-group">
                        <span class="fa fa-search"></span>
                        <input type="text" class="form-control" id="search-bar" v-model="searchTerm" placeholder="search"/>
                        <div class="error"></div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-8 mx-auto">
                        <ul class="nav nav-pills nav-fill">
                            <li class="nav-item"><a href="" v-on:click.stop.prevent="activeStatus='ALL'" v-bind:class="{'active': isActive('ALL')}" class="nav-link">All</a></li>
                            <li class="nav-item"><a href="" v-on:click.stop.prevent="activeStatus='WAITING'" v-bind:class="{'active': isActive('WAITING')}"class="nav-link">Waiting</a></li>
                            <li class="nav-item"><a href="" v-on:click.stop.prevent="activeStatus='AUTHORIZED'" v-bind:class="{'active': isActive('AUTHORIZED')}"class="nav-link">Authorized</a></li>
                        <li class="nav-item"><a href="" v-on:click.stop.prevent="activeStatus='APPROVED'" v-bind:class="{'active': isActive('APPROVED')}"class="nav-link">Approved</a></li>
                            <li class="nav-item"><a href="" v-on:click.stop.prevent="activeStatus='REJECTED'" v-bind:class="{'active': isActive('REJECTED')}"class="nav-link">Rejected</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th v-for="column in columns" v-on:click="sortBy(column)" class="clickable" v-cloak>{{column}}
                                        <i v-if="reversed" class="fa fa-sort-desc ml-2"></i>
                                        <i v-if="!reversed" class="fa fa-sort-asc ml-2"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="request in filteredRequests" v-on:click="goToRequest(request.requestID)"v-cloak>
                                    <!--<td v-for="value in request" class="clickable" v-on:click="goToRequest(request.requestID)">{{value}}</td>-->
                                    <td class="clickable text-primary">{{request.requestID}}</td>
                                    <td class="clickable">
                                        <span class="badge white-text" v-bind:class="getBadgeClassName(request.requestStatus)">{{request.requestStatus}}</span>
                                    </td>
                                    <td class="clickable">{{request.requesterName}}</td>
                                    <td class="clickable">{{request.requestedOnDate}}</td>
                                    <td class="clickable">{{request.emailAddress}}</td>
                                    <td class="clickable">{{request.phoneNumber}}</td>
                                    <td class="clickable">{{request.eventName}}</td>
                                    <td class="clickable">{{request.eventLocation}}</td>
                                    <td class="clickable" v-if="request.eventDates[0]">{{request.eventDates[0].start}} to {{request.eventDates[0].end}}</td>
                                    <td class="clickable">{{request.requesterID}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="text-muted mx-auto" v-if="showNoResults()">No results.</span>
                    <div class="loader loader--style3 mx-auto" title="2" v-if="loading">
                        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                            <animateTransform attributeType="xml"
                              attributeName="transform"
                              type="rotate"
                              from="0 25 25"
                              to="360 25 25"
                              dur="0.6s"
                              repeatCount="indefinite"/>
                        </path>
                      </svg>
                    </div>
                </div>
            </div>
            <div class="bottom-space"></div>
        </div>
    </div>
</body>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/datetime.js"></script>
<script>
    function getKeyByValue(object, value) {
        return Object.keys(object).find(key => object[key] === value);
    }
    function isTermInObject(object, term) {
        //debugger;
        for (var prop in object) {
            if (object.hasOwnProperty(prop) && (object[prop] != null)) {
                if (object[prop].toString().toLowerCase().includes(term.toLowerCase())) {
                    return true;
                }
            }

        }
        return false;
    }
    const status = {
        WAITING: 'WAITING',
	    AUTHORIZED: 'AUTHORIZED',
        APPROVED: 'APPROVED',
        REJECTED: 'REJECTED'
    }

    var app = new Vue({
        el: '#app',
        data: {
            loading: true,
            columns: ["Request ID", "Status", "Name", "Request Date", "Email",
                        "Phone", "Event Name", "Location", "Date", "Requester ID"],
            activeStatus: "ALL",
            searchTerm: "",
            sortKey: "",
            reversed: true,
            requests: [],
            userName: "",
            isAdmin: false,
        },
        methods: {
            changeDates: function() {
                this.requests.forEach(function(request) {
                    request.eventDates = updateDateTime(request.eventDates);
                });
            },
            isActive: function(status) {
                return this.activeStatus == status;
            },
            sortBy: function(sortKey) {
                this.reversed = !this.reversed;
                this.sortKey = sortKey;
            },
            getColumnValue(columnName) {
                let mappings = {
                    // value: columnName
                    requestID: "Request ID",
                    requesterName: "Name",
                    requesterID: "Requester ID",
                    requestedOnDate: "Request Date",
                    emailAddress: "Email",
                    phoneNumber: "Phone",
                    eventName: "Event Name",
                    Location: "Location",
                    eventDates: "Date",
                    requestStatus: "Status"
                }
                return getKeyByValue(mappings, columnName);
            },
            goToRequest(requestID) {
                window.location.href = '/security/request/' + requestID;
            },
            showNoResults: function() {
                return this.filteredRequests.length == 0 && !this.loading;
            },
            exportAllCSV: function() {
                window.location.assign("/api/csv/form/all.csv");
            },
            exportSelectedCSV: function() {
                let visibleRequests = this.getFilteredRequests().map(request => {
                    return request.requestID;
                });
                let url = "/api/csv/" + visibleRequests.join(',') + "/selectedRequests.csv";
                window.location.assign(url);
            },
            getBadgeClassName: function(status) {
                switch (status) {
                    case 'WAITING':
                        return 'badge-warning';
                        break;
	                case 'AUTHORIZED':
		                return 'badge-primary';
		                break;
                    case 'APPROVED':
                        return 'badge-success';
                        break;
                    case 'REJECTED':
                        return 'badge-danger';
                        break;
                    default:
                        return 'badge-default';
                        break;
                }
            },
            getFilteredRequests: function() {
                return this.requests.filter(request => {
                    return isTermInObject(request, this.searchTerm);
                }).sort((requestA, requestB) => {
                    if (this.reversed) {
                        return requestA[this.getColumnValue(this.sortKey)] > requestB[this.getColumnValue(this.sortKey)]
                    } else {
                        return requestA[this.getColumnValue(this.sortKey)] < requestB[this.getColumnValue(this.sortKey)]
                    }
                }).filter(request => {
                    if(this.activeStatus == "ALL") {
                        return true;
                    } else {
                        if (request.requestStatus == "") {
                            return false;
                        }
                        return request.requestStatus.toLowerCase() == this.activeStatus.toLowerCase();
                    }
                });
            },
            setUserName: function() {
                this.$http.get("/api/user/get").then(function(response) {
                    if (response.status == 200) {
                        this.userName = response.data.username;
                    }
                });
            },
            setAdmin: function() {
                this.$http.get("/api/user/get").then(function(response) {
                    if (response.status == 200 && response.data.privileges.includes("ADMIN")) {
                        this.isAdmin = true;
                    }
                });
            }
        },
        computed: {
            filteredRequests: {
                cache: false,
                get: function() {
                    return this.getFilteredRequests();
                }
            }
        },
        created: function() {
            this.$http.get('/api/form/search', {
                pageSize: 1000,
                pageNumber: 1
            }).then(response  => {
                this.requests = response.data;
                this.changeDates();
                this.loading = false;
            });
            this.setUserName();
            this.setAdmin();
        }
    });
</script>
</html>