<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
</head>
<body class="red-background">
<header>
    <a href="/">
        <img class="logo" src="/img/sfu-logo@2x.png" alt="sfu-logo"/>
    </a>
</header>
<div id="app">
    <form method="post" v-on:submit.prevent="submitForm">
        <div class="container col-md-10 offset-md-1 wrapper mb-5 col-lg-10">
            <div class="container col-md-10 mt-5">
                <div class="row">
                    <h1 class="text-center form-heading">Update Security Service Request</h1>
                </div>
                <div class="row">
                    <h1>#{{formData.requestID}}</h1>
                </div>
                <div class="row mb-4">
                    <span class="badge white-text badge-med" v-bind:class="getBadgeClassName(formData.requestStatus)">{{formData.requestStatus}}</span>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="requested-by-input">Requested By</label>
                        <input type="text" id="requested-by-input" v-model="formData.requesterName" class="form-control" required="required"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="department-input">Department</label>
                        <select required class="form-control" id="department-input" v-model="formData.department">
                            <option value="" disabled selected>Choose...</option>
                            <option :value="department" v-for="department in departments">{{department}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sfu-id-input">SFU ID</label>
                        <input type="text" id="sfu-id-input" v-model="formData.requesterID" class="form-control" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="phone-input">Phone</label>
                        <input type="text" id="phone-input" class="form-control" required="required"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email-input">Email</label>
                        <input type="email" id="email-input" class="form-control" v-model="formData.emailAddress" placeholder="example@sfu.ca" required="required"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fax-input">Fax (optional)</label>
                        <input type="text" id="fax-input" v-model="formData.faxNumber" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="type-name-of-event-input">Type/Name of Event</label>
                        <input type="text" id="type-name-of-event-input" v-model="formData.eventName" class="form-control" required="required"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="location-input">Location</label>
                        <!--<input type="text" th:field="*{eventLocation}" id="location-input" class="form-control"/>-->
                        <select required class="form-control" id="location-input" v-model="formData.eventLocation">
                            <option value="" disabled selected>Choose...</option>
                            <option value="Burnaby">Burnaby</option>
                            <option value="Surrey">Surrey</option>
                            <option value="Vancouver">Vancouver</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="number-of-attendees-input"># of Attendees</label>
                        <input type="number" min="1" value="1" id="number-of-attendees-input" v-model="formData.numAttendees" class="form-control" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="details-input" placeholder="">Details</label>
                        <textarea rows="5" id="details-input" v-model="formData.eventDetails" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="checkbox" id="licensed-input" v-model="formData.isLicensed" class="mr-1 mt-4"/>
                        <label for="licensed-input">Licensed</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="number-of-guards-input"># of Guards Requested</label>
                        <input type="number" min="1" value="1" id="number-of-guards-input" v-model="formData.numGuards" class="form-control" required="required"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="guard-type-input">Type of Guard Requested</label>
                        <select required class="form-control" id="guard-type-input" v-model="formData.guardType">
                            <option value="" disabled selected>Choose...</option>
                            <option :value="guardType" v-for="guardType in guardTypes">{{guardType}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="form-group col-md-12">

                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <table class="table table-hover text-centered date-table">
                        <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th></th>
                        </tr>
                        <tr>
                            <th class="col-xs-3">
                                <div id="chooseStartDateTime" class ="input-group" onChange="setDateTime(this,'startdatetime')">
									<span class="input-group-addon">
										<i class="fa fa-calendar calendar-icon"></i>
									</span>
                                    <input type="text" id="startdatetime" class="form-control" disabled="disabled"/>
                                </div>
                            </th>

                            <th class="col-xs-3">
                                <div id="chooseEndDateTime" class ="input-group" onChange="setDateTime(this,'enddatetime')">
									<span class="input-group-addon">
										<i class="fa fa-calendar calendar-icon"></i>
									</span>
                                    <input type="text" id="enddatetime" class="form-control" disabled="disabled"/>
                                </div>
                            </th>

                            <th class="col-xs-1">
                                <button v-on:click="addDatetime" id="addDateTime" type="button" class="btn btn-danger ml-1">add</button>
                            </th>
                        </tr>

                        </thead>
                        <tbody v-for="dt in datetimelist">
                        <tr>
                            <td>
                                <span class="ml-2">{{dt.start}}</span>
                            </td>
                            <td>
                                <span class="ml-2">{{dt.end}}</span>
                            </td>
                            <td>
                                <i v-on:click="deleteDatetime(dt)" class="fa fa-trash-o trash-icon ml-1"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3 class="auth-heading mt-4">Authorization</h3>
                </div>
                <div class="row mt-4 ml-4">
                    <!--TODO <a href="/login?redirect=servicerequest">-->
                    <button type="button" id="sign-in" class="btn btn-danger" v-on:click="signedIn = true">Login SFU CAS</button>
                </div>
                <div class="row mt-4">
                    <div class="form-group col-md-4">
                        <label for="account-code-input">Account code</label>
                        <input type="text" id="account-code-input" v-model="formData.paymentAccountCode" class="form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                        <!--TODO INFER THIS VALUE-->
                        <label for="name-of-authorizee-input">Authorized by</label>
                        <input type="text" id="name-of-authorizee-input" v-model="formData.authorizerName" class="form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="sfu-id-or-bcdl-of-authorizee-input">Authorizee SFU ID </label>
                        <input type="text" id="sfu-id-or-bcdl-of-authorizee-input" v-model="formData.authorizerId" class="form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="date-of-authorization-input">Date</label>
                        <input type="text" id="date-of-authorization-input" v-model="formData.authorizationDate" class="form-control"/>

                    </div>
                    <div class="form-group col-md-4">
                        <label for="phone-of-authorizee-input">Phone</label>
                        <input type="text" placeholder="xxx-xxx-xxxx" id="phone-of-authorizee-input" v-model="formData.authorizerPhoneNumber" class="form-control masked" pattern="[0-9]{3}[ |-][0-9]{3}[ |-][0-9]{4}" data-valid-example="000-000-0000"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <input type="checkbox" id="invoice-input" class="mr-1"/>
                        <label for="invoice-input">Please Invoice</label>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-danger btn-lg col-md-8" v-bind:class="{disabled: !isValid}" v-on:click="updateForm()">Update</button>
                    </div>
                </div>
                <div class="bottom-space"></div>
            </div>
        </div>
    </form>
    <modal v-if="showModal" @close="app.showModal = false">
        <h3 slot="header">{{submittedFormHeader}}</h3>
        <span slot="body">{{submittedFormMessage}}</span>
    </modal>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script src="/js/jquery.datetimepicker.full.js"></script>
<script src="/js/jquery.datetimepicker.js"></script>
<script src="/js/datetimefeature.js"></script>
<script src="/js/datetime.js"></script>
<script src="/js/jquery.maskedinput.min.js"></script>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header"></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="link"></slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="modal-default-button btn btn-danger btn-lg" v-on:click="close">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
<script src="/js/constants.js"></script>
<script>
    var getUrlParams = function (url) {
        var params = {};
        (url + '?').split('?')[1].split('&').forEach(function (pair) {
            pair = (pair + '=').split('=').map(decodeURIComponent);
            if (pair[0].length) {
                params[pair[0]] = pair[1];
            }
        });
        return params;
    };
    var emailValid = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

    const updateSuccessHeader = "Update Success";
    const updateSuccessMessage = "The form has been updated.";

    const errorHeader = "Something went wrong";
    const errorMessage = "Sorry, there was an error. Your form may not have been updated.";

    const status = {
        WAITING: 'WAITING',
        APPROVED: 'APPROVED',
        REJECTED: 'REJECTED'
    };

    const guardTypes = [
	    "Guard",
	    "SCSP"
    ];

    var Modal = Vue.component('modal', {
        template: '#modal-template',

        methods: {
            close: function () {
                form.closeModal();
                this.$emit('close');
            }
        }
    });

        const FormApp = Vue.extend({
            el: '#app',
        http: {
            root: '/',
            headers: {
                Authorization: 'Basic YXBpOnBhc3N3b3Jk'
            }
        },

        data: () => ({

            showModal: false,

            formData: {
                department: '',
                requesterName: '',
                phoneNumber: '',
                requestedOnDate: '',
                requesterID: '',
                authorizationDate: '',
                paymentAccountCode: '',
                emailAddress: '',
                times: '',
                eventName: '',
                isLicensed: '',
                numAttendees: '0',
                authorizerId: '',
                authorizerPhoneNumber: '',
                serviceRequestNumber: '',
                eventLocation: '',
                authorizerName: '',
                eventDates: '',
                eventDetails: '',
                faxNumber: '',
                requestID: '',
	            guardType: '',
	            numGuards: '0'
            },
            startdatetime: '',
			enddatetime: '',
			datetimelist: [],
            departments: departments,
	        guardTypes: guardTypes,
	        signedIn: false
        }),

        computed: {
            validation: function () {
                return {
                    emailAddress: emailValid.test(this.formData.emailAddress)
                }
            },
            isValid: function () {
                var validation = this.validation;
                return Object.keys(validation).every(function (key) {
                    return validation[key]
                })
            }
        },

        methods: {

            setSubmittedFormHeader(header) {
                this.submittedFormHeader=header;
            },

            setSubmittedFormMessage(message) {
                this.submittedFormMessage=message;
            },

            displayUpdateModal : function () {
                this.setSubmittedFormHeader(updateSuccessHeader);
                this.setSubmittedFormMessage(updateSuccessMessage);
                this.showModal = true;
            },

            displayErrorModal : function () {
                this.setSubmittedFormHeader(errorHeader);
                this.setSubmittedFormMessage(errorMessage);
                this.showModal = true;
            },

            closeModal : function () {
                this.showModal = false;
            },

            submitForm: function () {

            },
            updateForm: function () {
                let self = this;
                function successCallback(response) {
                    if(response.ok) {
                        self.displayUpdateModal();
                    } else {
                        errorCallback();
                    }
                }

                function errorCallback() {
                    self.displayErrorModal();
                }
                //get value from phone-input
                this.formData.phoneNumber = $("#phone-input").val();
	            if (this.isValid) {
                    console.log("FUCK " + this.formData.id);
		            this.$http.put("/api/form/update/" + this.formData.id, this.formData).then(function (response) {
			            successCallback(response);
			            this.loading = false;
		            }, function () {
			            errorCallback();
		            });
	            }
            },

            addDatetime: function(){
            	this.startdatetime = getDateTime("chooseStartDateTime","startdatetime");
            	this.enddatetime = getDateTime("chooseEndDateTime","enddatetime");
            	if(this.startdatetime!='' && this.enddatetime!=''){
            	    if(this.datetimelist.length==0){
						this.formData.eventDates += this.startdatetime +"-"+ this.enddatetime;
					}else{
						this.formData.eventDates += ", "+this.startdatetime +"-"+ this.enddatetime;
					}
					this.datetimelist.push( {start: this.startdatetime, end: this.enddatetime} );
					this.startdatetime = '';
					this.enddatetime = '';
            	}
            },
            deleteDatetime: function(dt){
            	var index = this.datetimelist.indexOf(dt);
            	this.formData.eventDates = deleteEventDate(dt.start,dt.end,this.formData.eventDates,index,this.datetimelist.length);
            	this.datetimelist.splice(index,1);
            },
            getBadgeClassName: function(status) {
                switch (status) {
                    case 'WAITING':
                        return 'badge-warning';
                        break;
                    case 'APPROVED':
                        return 'badge-success';
                        break;
                    case 'REJECTED':
                        return 'badge-danger';
                        break;
                    default:
                        return 'badge-default';
                        break;
                }
            },
        },
        created: function() {
            let urlParams = getUrlParams(window.location);
            this.$http.get("/api/form/get/user/" + urlParams.token, {
            }).then(response  => {
                if (response.status >= 200 && response.status <=300) {
                    let phoneNumber = response.data.phoneNumber;
                    $(document).ready(function(){
                        //initialize tooltips
                        $(function () {
                            //init input masks
                            $('#phone-input').mask("(999) 999-9999");
                            $('#phone-input').val(phoneNumber);
                        });
                    });
                    this.formData = response.data;
                    this.datetimelist = updateDateTime(this.formData.eventDates);
                } else {
                    console.log(response.status);
                }
            });

        },

        components: {Modal}
    });

    form = new FormApp({
        el: '#app'
    });
</script>
</body>
</html>