html {
	font-family: "Open Sans";
	height: 100%;
}

body {
	background-color: #A8162B;
}

nav {
	background-color: white;
}

.logo {
	width: 300px;
	margin-bottom: 20px;
}

button {
	cursor: pointer;
}

@media (min-width: 1400px) {
    .container{
        max-width: 1200px;
    }
}

/* WRAPPER */

.wrapper {
	/* white background thing */
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form-heading {
	padding-bottom: 20px;
	border-bottom: 1px solid #EFEFEF;
	margin-top: 70px;
	font-weight: 300;
}

.auth-heading {
	font-weight: 300;	
}

.calendar-icon {
	font-size: 2em;
	color: #A8162B;
}

.bottom-space {
	height: 100px;
}